<html>
<head>
  <meta charset="utf-8">
  
  <title>Myntra</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles.css">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="dist/css/adminlte.min.css">
  <!-- Google Font: Source Sans Pro -->
  <link rel="icon" type="image/png" href="logo.png"/>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  
 
</head>
<body class="hold-transition sidebar-mini">
	
	<div class="wrapper">
		<aside class="main-sidebar sidebar-dark-primary elevation-4">
		<!-- Brand Logo -->
			<a href="#" class="brand-link">
			  <span style="text-align: center;">Menu</span>
			</a>
			<!-- Sidebar -->
			<div class="sidebar">
                <!-- Sidebar Menu -->
  <nav class="mt-2">
	<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
	  <li class="nav-item">
		<a href="/create" class="nav-link">
		  <i class="nav-icon far fa-circle text-info"></i>
		  <p>Add new Product</p>
		</a>
	  </li>
	  <li class="nav-item">
		<a href="/" class="nav-link">
		  <i class="nav-icon far fa-circle text-info"></i>
		  <p class="text">Sales Details</p>
		</a>
	  </li>
	  <li class="nav-item">
		<a href="/updatestock" class="nav-link">
		  <i class="nav-icon far fa-circle text-info"></i>
		  <p class="text">Update Stock</p>
		</a>
	  </li>
      <li class="nav-item">
		<a href="/deleteproduct" class="nav-link">
		  <i class="nav-icon far fa-circle text-info"></i>
		  <p class="text">Delete Product</p>
		</a>
	  </li>
	  
	</ul>
</nav>
<!-- /.sidebar-menu -->
			
			</div>
			<!-- /.sidebar -->
		</aside>
		
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			
			<section class="content-header">
				<h1 style="text-align: center;">Myntra Inventory Management System</h1>
			</section>
			<section class="content">
                <form action="/update" method="POST">
                    <label>Product Id:</label>
                    <input type="number" placeholder="Enter product ID" name="id"><br><br>
                
                  
                    <label>New Stock:</label>
                    <input type="number" placeholder="Enter quantity" name="stock"><br><br><br>
                
                
                    <button id="update">Update</button> 
                    </form>
                
                    <a href="/" class="c2">Home Page</a>
                
        </section>
        </div>
        </div>
    </body>
</html>